# Cardinal Towns in New Zealand
New Zealand, like many countries colonised by the British, has a number of towns whose names end in cardinal directions -- "North", "South", "East", etc...

An Australian example would be Poowong, VIC:
![title](Poowongs.png)
You can see there is a Poowong, and also a Poowong North. There is also a Poowong East which I almost cropped out of the screen-grab completely. This sort of cardinal suffix tells you that the locality is a subdivision of a larger district, or that it started life as a sub-urb of an adjacent place.

In New Zealand there are some of these cardinal towns, but there is also a different reason that a town might have 'North' or 'South' at the end of its name, which is that there is another town of the same name on the other island. Probably the best-known pair is Palmerston North and Palmerston. Palmerston North is the seventh or eighth largest city in the country, depending how you count, and Palmerston is a sleepy seaside village on the main highway north of Dunedin.
 I grew up in the Far North of New Zealand near places called Waimate North and Totara North. I know that Waimate North is related in the same way to a Waimate in South Canterbury

In [32]:
import pandas
import re
aotearoa = pandas.read_csv("gaz_names.csv")
# The gazette place names data can be found at:
#  https://www.linz.govt.nz/system/files_force/media/file-attachments/gaz_names.csv
# Information on the gazette:
#  https://www.linz.govt.nz/regulatory/place-names/find-place-name/new-zealand-gazetteer-place-names

/home/ficticia/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (28,29,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
# Focus on settlements
Settlement_types = {'Suburb','Locality','Town','Village','City'}

# Choose just the rows that correspond to settlements
criterion = aotearoa['feat_type'].map(lambda x: x in Settlement_types)
aotearoa_settlements = aotearoa[criterion]
# in SQL this would be 
#             SELECT * 
#             FROM aotearoa
#             WHERE feat_type in ('Suburb','Locality','Town','Village','City')

In [34]:
# Make a list of settlement names and look for patterns

settlements = aotearoa_settlements['name'].tolist()
norths = []
souths = []
easts  = []
wests  = []
for place in settlements:
    if re.match('.*North$',place):
        norths.append(" ".join(place.split(" ")[:-1] ))
        
    if re.match('.*South$',place):
        souths.append(" ".join(place.split(" ")[:-1] ))
        
    if re.match('.*East$',place):
        easts.append(" ".join(place.split(" ")[:-1] ))
        
    if re.match('.*West$',place):
        wests.append(" ".join(place.split(" ")[:-1] ))

print('Norths:')
for place in norths:
    print(' ' , place)
    
print('\nSouths:')
for place in souths:
    print(' ' , place)
print('\nEasts:')
for place in easts:
    print(' ' , place)
print('\nWests:')
for place in wests:
    print(' ' , place)
#directions = [norths, souths, easts, wests]
#directions

Norths:
  Awahou
  Chatton
  Grenada
  Hamilton
  Havelock
  Hoteo
  Komata
  Loburn
  Longridge
  Mandeville
  Palmerston
  Rototuna
  Ruatoki
  Te Atatu
  Thames
  Totara
  Waimate
  Wainui
  Whangaruru

Souths:
  Awahou
  Kapuka
  Makirikiri
  Napier
  Nelson
  Raumati
  Springston
  Tauranga
  Te Akau
  Te Atatu
  Waiwera
  Whananaki
  Whangaruru
  Wharepapa

Easts:
  Argyll
  Hamilton
  Johnsonville
  Mangere
  Manurewa
  Massey
  Muhunoa
  Nelson
  Porirua
  Pukekohe
  Roxburgh
  Wanganui

Wests:
  Dipton
  Hamilton
  Huntly
  Karori
  Kuaotunu
  Maharahara
  Mahurangi
  Massey
  Mauriceville
  Pareora
  Rangiriri
  Ruatangata
  Te Aroha
  Te Kawa
  Tuapeka
  Waitahuna
  Waitangi
  Waituna

In [35]:
#cardinals = list(set(norths+souths+easts+wests))
cardinals = list(set(norths+souths))#+easts+wests))
cardinals_df = pandas.DataFrame({'name' : cardinals})
cardinals_df['Suffixless'] = cardinals_df['name'].map(lambda x: x in aotearoa_settlements['name'].tolist())
cardinals_df['North'] = cardinals_df['name'].map(lambda x: x in norths)
cardinals_df['South'] = cardinals_df['name'].map(lambda x: x in souths)
cardinals_df['East'] = cardinals_df['name'].map(lambda x: x in easts)
cardinals_df['West'] = cardinals_df['name'].map(lambda x: x in wests)
cardinals_df['Degree'] = cardinals_df.sum(axis=1)
cardinals_df

#todo : preserve lat/long + other data through process
cardinals_df

          name  Suffixless  North  South   East   West  Degree
0     Tauranga        True  False   True  False  False       2
1       Nelson        True  False   True   True  False       3
2       Thames        True   True  False  False  False       2
3     Havelock        True   True  False  False  False       2
4      Chatton        True   True  False  False  False       2
5      Waiwera        True  False   True  False  False       2
6        Hoteo        True   True  False  False  False       2
7       Awahou        True   True   True  False  False       3
8   Mandeville        True   True  False  False  False       2
9      Ruatoki       False   True  False  False  False       1
10    Te Atatu       False   True   True  False  False       2
11      Komata        True   True  False  False  False       2
12     Grenada       False   True  False  False  False       1
13  Springston        True  False   True  False  False       2
14  Whangaruru        True   True   True  False  False       3
15      Totara        True   True  False  False  False       2
16      Wainui        True   True  False  False  False       2
17  Palmerston        True   True  False  False  False       2
18     Raumati        True  False   True  False  False       2
19  Makirikiri        True  False   True  False  False       2
20     Waimate        True   True  False  False  False       2
21    Hamilton        True   True  False   True   True       4
22   Longridge        True   True  False  False  False       2
23     Te Akau        True  False   True  False  False       2
24   Whananaki        True  False   True  False  False       2
25      Loburn        True   True  False  False  False       2
26   Wharepapa        True  False   True  False  False       2
27    Rototuna        True   True  False  False  False       2
28      Kapuka        True  False   True  False  False       2
29      Napier        True  False   True  False  False       2

I can write a function that returns a data frame with the cardinal-suffixed friends of a given place.

In [36]:
def cardinal_friends(placename):
    #criterion = aotearoa_settlements['name'].map(lambda x: re.match(placename+' .*|'+placename+'$',x) is not None)
    criterion = aotearoa_settlements['name'].map(lambda x: re.match(placename+' North$|'
                                                                    +placename+' South$|'
                                                                    +placename+' East$|'
                                                                    +placename+' West$|'
                                                                    +placename+'$',x) is not None)
    return aotearoa_settlements[criterion][['name','land_district','feat_type', 'crd_latitude','crd_longitude']]
    # land_district column will be useful for excluding adjacent settlements

Let's look and see where may be the friends of Totara North

In [37]:
cardinal_friends('Totara')

               name   land_district feat_type  crd_latitude  crd_longitude
45593        Totara  South Auckland  Locality    -37.167523     175.557622
45594        Totara           Otago  Locality    -45.137815     170.877030
45618  Totara North  North Auckland  Locality    -35.037844     173.719948

Totara is a very useful and celebrated sort of tree, and all of these places are tiny, so it's no use googling the names. Looking up the co-ordinates we find that Totara North is on the Whangaroa harbour up in the north, while the two Totara localities are on the outskirts of Thames (South Auckland) and Oamaru (Otago) respectively. The Thames one has a cemetery, so may have once been a town, but the Oamaru one is just six houses around what would appear to be a former railway station. The maps layer of google maps has property boundaries though, and there we can see that the town is subdivided into a few dozen sections, with even some streets that have reverted to farms. A railway station implies a post office, so this could be the place that Totara North is the North of.

In [38]:
cardinal_friends('Waituna')

               name land_district feat_type  crd_latitude  crd_longitude
49456       Waituna     Southland  Locality    -46.404076     168.632890
49457       Waituna    Canterbury  Locality    -44.700228     171.012938
49468  Waituna West    Wellington  Locality    -40.041498     175.627816

In [39]:
cardinal_friends('Palmerston')

                   name land_district feat_type  crd_latitude  crd_longitude
31569        Palmerston         Otago  Locality    -45.483477     170.715486
31570  Palmerston North    Wellington      Town    -40.355660     175.616579

We are looking for places with cardinal names that

In [40]:
count = 0 
for place in cardinals:
    df = cardinal_friends(place)
    districts = set(df['land_district'])
    if len(districts) > 1:
        count = count +1
        print(place, list(zip(df['name'].tolist(), df['land_district'].tolist())))
print('Number of candidates:', count)

Havelock [('Havelock', 'Marlborough'), ('Havelock North', "Hawke's Bay")]
Waiwera [('Waiwera', 'Wellington'), ('Waiwera', 'North Auckland'), ('Waiwera South', 'Otago')]
Awahou [('Awahou', 'South Auckland'), ('Awahou North', 'Wellington'), ('Awahou South', 'Wellington')]
Mandeville [('Mandeville', 'Southland'), ('Mandeville North', 'Canterbury')]
Totara [('Totara', 'South Auckland'), ('Totara', 'Otago'), ('Totara North', 'North Auckland')]
Wainui [('Wainui', 'North Auckland'), ('Wainui', 'North Auckland'), ('Wainui', 'Canterbury'), ('Wainui', 'South Auckland'), ('Wainui', 'Gisborne'), ('Wainui North', 'South Auckland')]
Palmerston [('Palmerston', 'Otago'), ('Palmerston North', 'Wellington')]
Raumati [('Raumati', "Hawke's Bay"), ('Raumati South', 'Wellington')]
Makirikiri [('Makirikiri', "Hawke's Bay"), ('Makirikiri South', 'Wellington')]
Waimate [('Waimate', 'Canterbury'), ('Waimate North', 'North Auckland')]
Wharepapa [('Wharepapa', 'North Auckland'), ('Wharepapa South', 'South Auckland')]
Rototuna [('Rototuna', 'North Auckland'), ('Rototuna', 'South Auckland'), ('Rototuna North', 'South Auckland')]
Number of candidates: 12

We have found 12 candidates, probably time to stop coding and check each case myself. Note that they *all* involve Norths and Souths, rather than Easts and Wests. The analysis has picked up the four cases I already knew of: Totara, Palmerston, Havelock, Waimate. This leaves eight others to check:

 - Waiwera -- possible pairing of the Waiwera South with either the Waiwera in North Auckland or the one in Wellington
 
 - Raumati -- looks like a pair within the North Island, though they are in adjacent provinces.
 - Wharepapa -- another within-island pair, in non-adjacent provinces
 - Awahou -- looks like just two places called Awahou, but the Wellington one is divided into a North and a South
 - Makirikiri -- another within-island pair, also in adjacent provinces
 - Wainui -- a *very* common place name in NZ. Is the South Auckland Wainui North next to the South Auckland Wainui though?
 - Rototuna -- like Awahou, two places with the same name, but the Rototuna in Hamilton has an adjacent suburb called Rototuna North.
 - Mandeville -- another within-island pair
 
 This narrows us down to Totara, Palmerston, Havelock, Waimate, Waiwera, Raumati, Awahou, Makirikiri, Wainui and Mandeville -- up to ten towns whose names have a 'North' or a 'South' added to distinguish from another otherwise-identically-named town in a different part of the country.
 
 We can look up the lat and long co-ordinates of each by calling

In [41]:
cardinal_friends('Rototuna')

                 name   land_district feat_type  crd_latitude  crd_longitude
37132        Rototuna  North Auckland  Locality    -36.254447     174.044126
37133        Rototuna  South Auckland    Suburb    -37.736342     175.273092
37134  Rototuna North  South Auckland    Suburb    -37.726078     175.263601

There is something strange going on with Makirikiri:

In [42]:
cardinal_friends('Makirikiri')

                   name land_district feat_type  crd_latitude  crd_longitude
19815        Makirikiri   Hawke's Bay  Locality    -40.220890     176.089766
19819  Makirikiri South    Wellington  Locality    -40.088206     175.299959

We see that Makirikiri south is at a more northerly latitude than Makirikiri!

To go further I'd need to look at different data. Looking at wikipedia for [Palmerston North](https://en.wikipedia.org/wiki/Palmerston_North) suggests that the Post Office is responsible for adding the suffix there, as they likely are for the other nine I have found.
It shouldn't be too hard to find a list of *current* post offices, but many of the places we are looking at are so small that if they had a post office it will have closed. So we should look for a list of historical post offices.
I leave this for another day :)